.title { 
  background-color: black;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
}
.effects {
	width: 200px; 
}
.effects-header {
	margin: 0;
}
.fancy-menu {
  opacity: 0.8;
  max-height: 140px;
  
}